/* COLORS
========================== */

// Functional Colors:
$primary-background-color: #070808;
$secondary-background-color: #262119;
$primary-text-color: #FAFAFA;
$secondary-text-color: #C4C4C1;
// Primary Brand Colors:
$primary-color: #EFAC27;
$secondary-color: #6B8386;


// Feedback Colors:
// $success-color:
// $success-background-color:
// $success-border-color:
$warning-color: #CEA533;
$secondary-warning-color: #B56629;
