@media (max-width: 900px) {
  /* Header */
  .header-content {
    display: block!important;
  }

  .header-mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav {
    display: none;
    position: absolute;
    width: 100%;

    ul {
      display: block!important;
      max-width: 90%;
      text-align: right;
    }

    li {
      display: block;
    }
  }

  .header-nav-list li:last-child {
    margin-left: 0;

  }
  .mobile-nav{
    display: block!important;
  }

  .main-container {
    flex-direction: column;
  }

  .main-search {
    margin-left: 0!important;
  }
}

@media (max-width: 768px) {

  form {
    flex-direction: column;
  }

  input {
    width: 100%!important;
    margin-bottom: 1rem;
  }

  .btn {
    margin-left: 0!important;
    width: 100%!important;
    padding: 5px 10px!important;
  }
  

}


@media (max-width: 360px) {

    h1 {
      font-size: 1.5rem!important;
  }

  .mobile-nav {
    i {
      font-size: 1.6rem!important;
    }
  }

}